.searchBox {
  width: 400px;
  height: 40px !important;
  background: #f0f5ff;
  border-radius: 6px;
  padding: 25px 15px;
}
.searchBox input {
  background: transparent;
  border: 0px;
  outline: none;
  padding-left: 0px;
  font-size: 15px;
  color: #292929;
}

.searchBox input::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.7);
}

.searchBox svg {
  font-size: 20px !important;
  color: #292929;
}
