body.dark .card {
  background: #112143 !important;
}

body.dark .card .hd {
  color: rgba(255, 255, 255, 0.8) !important;
}

body.dark .cardFilters .texts {
  color: rgba(255, 255, 255, 0.8) !important;
}

body.dark .css-1yk1gt9-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root,
body.dark h1,
body.dark h2,
body.dark h3,
body.dark h4,
body.dark h6,
body.dark p,
body.dark .css-hfutr2-MuiSvgIcon-root-MuiSelect-icon,
body.dark .css-1d3z3hw-MuiOutlinedInput-notchedOutline,
body.dark .css-bpeome-MuiSvgIcon-root-MuiSelect-icon {
  color: rgba(255, 255, 255, 0.8) !important;
}

body.dark .css-1d3z3hw-MuiOutlinedInput-notchedOutline {
  border-color: rgba(255, 255, 255, 0.8) !important;
}

body.dark .table tbody td {
  color: rgba(255, 255, 255, 0.8) !important;
}

body.dark .table-bordered td,
.table-bordered th {
  border: 1px solid rgba(255, 255, 255, 0.1) !important;
}

body.dark .css-1aczowp-MuiButtonBase-root-MuiPaginationItem-root {
  color: rgb(255, 255, 255);
  border: 1px solid rgba(255, 255, 255, 0.87);
  background-color: #7100fa;
}

body.dark .css-1v2lvtn-MuiPaginationItem-root {
  color: rgba(255, 255, 255, 0.87);
  font-size: 20px;
}
.right-content {
  padding: 90px 30px;
}

.right-content .content {
  width: 80% !important;
  flex: 0 0 80% !important;
}

.dashboardBoxWrapper {
  gap: 18px;
  width: 100%;
  flex-wrap: wrap;
}

.dashboardBoxWrapper .dashboardBox {
  width: 49%;
  height: 220px;
  background: #ccc;
  border-radius: 10px;
  overflow: hidden;
  padding: 25px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left !important;
  color: #fff;
}

.dashboardBoxWrapperRow .box {
  width: 100%;
  height: 100%;
}

.dashboardBoxWrapper .dashboardBox .chart {
  opacity: 0.1;
  position: absolute;
  bottom: 20px;
  left: 20px;
}

.dashboardBoxWrapper .dashboardBox .chart svg {
  font-size: 180px !important;
  color: #000;
}

.graphBox {
  background-image: linear-gradient(#c0cadc, #2a6ff7);
  border-radius: 10px;
  padding: 25px;
}

.toggleIcon {
  font-size: 22px;
  color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  min-width: 40px !important;
  width: 40px !important;
  height: 40px !important;
  border-radius: 50% !important;
}

.toggleIcon svg {
  color: #fff !important;
  font-size: 20px !important;
  opacity: 1 !important;
}

.graphBox h6 {
  text-transform: capitalize !important;
  font-size: 22px !important;
  font-weight: bold !important;
}

.graphBox p {
  font-size: 13px;
  color: #fff !important;
  opacity: 0.7;
}

.card {
  margin: 20px 0px;
  border-radius: 10px;
}

.card .hd {
  font-size: 18px;
  font-weight: bold;
  color: #403e57;
}

.cardFilters .texts {
  font-size: 13px;
  font-weight: 800;
  text-transform: capitalize !important;
  color: #403e57;
}

.table .thead-dark th {
  background-color: #1866ee !important;
  border-color: rgba(255, 255, 255, 0.1) !important;
  font-size: 14px;
}

.table tbody td {
  font-size: 13px !important;
  color: #403e57;
  font-weight: 500;
}

.table tbody .actions button {
  min-width: 35px !important;
  width: 35px !important;
  height: 35px !important;
  border-radius: 50%;
  margin: 0px 3px !important;
}

.table tbody .actions button svg {
  font-size: 30px !important;
}

.table tbody .actions button.secondary {
  background: rgb(203, 60, 231, 0.1) !important;
}

.table tbody .actions button.success {
  background: rgb(26, 150, 83, 0.1) !important;
}

.table tbody .actions button.error {
  background: rgb(241, 17, 51, 0.1) !important;
}

table.t-aling td {
  vertical-align: middle !important;
}

.table td .oldPrice,
.table td .oldPrice .NewPrice {
  display: block;
  width: 100%;
}

table td .info h6 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 15px;
  margin-bottom: 5px;
  color: #403e57;
}

table td .imgWrapper {
  width: 30%;
  flex: 0 0 30%;
}

table td .info {
  width: 70%;
  flex: 0 0 70%;
}

table td .info p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 15px;
  color: #403e57;
  margin-bottom: 0px !important;
}

table.t-aling td .productBox {
  width: 150px;
}

table.t-aling td .productBox .info {
  width: 100%;
}

.tableFooter {
  padding-bottom: 20px;
}

.tableFooter p {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 0px;
}
.tableFooter .pagination {
  margin-left: auto !important;
}

/* .table-responsive::-weblikit-scrollbar-thumb {
  background: #1866ee !important;
} */
