.card h5 {
    color: black !important;
    font-size: 15px !important;

    font-weight: 500 !important;
}

.card h4 {
    color: black;
    line-height: 30px;
}

.sliderSml .slick-slide {
    padding-right: 10px;
}

.sliderBig .item img {
    border-radius: 10px !important;
    overflow: hidden;
}

.sliderSml *,
.sliderBig * {
    transition: all 0.2s !important;
}

.sliderSml .item {
    overflow: hidden;
    border-radius: 10px !important;
}

.ProductDetailsSection .producutInfo .icon {
    width: 17%;
    flex: 0 0 17%;
}

.ProductDetailsSection .producutInfo .icon svg {
    font-size: 20px;
}

.ProductDetailsSection .producutInfo .name {
    width: 83%;
    flex: 0 0 83%;
    font-size: 15px;
    font-weight: bold;
}


.ProductDetailsSection .producutInfo .row.col-sm-8 span {
    opacity: 0.8 !important;
}