body.dark .card h5 {
  color: #f0f0f0 !important;
}

body.dark .css-63vwl1-MuiTypography-root-MuiBreadcrumbs-root {
  color: #fff !important;
}

body.dark .ProductDetailsSection .producutInfo .icon svg {
  color: #fff !important;
}

body.dark .ProductDetailsSection .producutInfo .name {
  color: #fff !important;
}
body.dark .reviewsSection .ReviewRow {
  background: #071739 !important;
  border-radius: 20px;
}
body.dark .col1.Start {
  color: #fff;
}
body.dark .reviewForm textarea {
  background: #071739 !important;
  border-radius: 20px;
  color: #fff !important;
}
.card h5 {
  color: #6c757d !important;
  font-size: 20px !important;

  font-weight: 500 !important;
}

.css-1mm5wr7-MuiChip-root {
  text-decoration: none !important;
}

.card h4 {
  color: #6c757d !important;
  line-height: 30px;
}

.sliderSml .slick-slide {
  padding-right: 10px;
}

.sliderBig .item img {
  border-radius: 10px !important;
  overflow: hidden;
}

.sliderSml *,
.sliderBig * {
  transition: all 0.2s !important;
}

.sliderBig .item {
  overflow: hidden;
  border-radius: 10px !important;
  border: 2px dashed #ccc !important;
  cursor: pointer;
}

.sliderSml .item {
  overflow: hidden;
  border-radius: 10px !important;
  border: 2px dashed #ccc !important;
  cursor: pointer;
}

.ProductDetailsSection .producutInfo .icon {
  width: 28%;
  flex: 0 0 28%;
}

.ProductDetailsSection .producutInfo .icon svg {
  font-size: 20px;
  color: #5e5d72 !important;
}

.ProductDetailsSection .producutInfo .name {
  width: 72%;
  flex: 0 0 72%;
  font-size: 15px;
  font-weight: bold;
  color: #5e5d72 !important;
}

.ProductDetailsSection .producutInfo span {
  opacity: 0.8 !important;
  font-size: 15px;
  padding-left: 5px;
}

.ProductDetailsSection .producutInfo .row .col-sm-9 {
  display: flex;
  align-items: center;
}
.ProductDetailsSection .producutInfo .row {
  margin-bottom: 10px !important;
}

.tags {
  margin-bottom: 0px !important;
}

.tags li span {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f0f0f0 !important;
  border-radius: 3px !important;
  font-size: 12px !important;
  padding: 3px 8px !important;
  color: #000 !important;
}

.pText {
  color: #6c757d !important;
  font-size: 15px !important;
  line-height: 24/15 = 1.6 !important;
  font-weight: 600 !important;
}

.ratingSection {
  width: 500px;
}

.ratingSection .ratingrow {
  width: 100%;
  margin-bottom: 15px !important;
}

.ratingSection .ratingrow .col1 {
  width: 15%;
  flex: 0 0 15% !important;
  display: flex;
}

.ratingSection .ratingrow .col2 {
  width: 50%;
  flex: 0 0 50% !important;
}

.ratingSection .ratingrow .col3 {
  width: 25%;
  flex: 0 0 25% !important;
  display: flex;
  padding-left: 20px;
}

.ratingSection .ratingrow .progress {
  height: 5px !important;
  background-color: #000 !important;
}
.ratingSection .ratingrow .progress .progress-bar {
  background: #faaf00 !important;
}

.reviewsSection {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.reviewsSection .ReviewRow {
  width: 100%;
  height: auto;
  background: #f1f5fb;
  padding: 35px;
  border-radius: 10px;
  margin: 15px 0px;
}

.userInfo h5 {
  margin-bottom: 0px !important;
}

.info h5 {
  color: #6c757d !important;
}

/* .rating {
  color: #faaf00 !important;
} */

.MuiButtonBase-root.MuiButton-root {
  border-radius: 20px !important;
}

.reviewsSection .ReviewRow.reply {
  width: 90%;
  margin-left: auto;
}

.reviewForm {
  width: 100%;
}

.reviewForm textarea {
  width: 100%;
  height: 200px;
  background: #f1f5fb !important;
  outline: none !important;
  padding: 15px;
  border-radius: 10px;

  border: 1px solid #0d1a36 !important;
}

.reviewForm textarea::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.5) !important;
}
