@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Open Sans", sans-serif !important;
  background: #ebe9e9;
  overflow-x: hidden;
}

.css-1e6y48t-MuiButtonBase-root-MuiButton-root {
  font-family: "Open Sans", sans-serif !important;
}

::-webkit-scrollbar {
  width: 2px !important;
  height: 2px !important;
}

::-webkit-scrollbar-thumb {
  background: #0858f7 !important;
}

::-webkit-scrollbar-track {
  background: transparent !important;
}

.main .sidebarWrapper {
  width: 20%;
  flex: 0 0 20%;
  transition: all 0.3s ease-in-out;
}

.main .sidebarWrapper.toggle {
  width: 0%;
  flex: 0 0 0%;
}

.main .sidebarWrapper.toggle .sidebar {
  left: -100%;
  opacity: 0;
}

.main .content.toggle {
  width: 100%;
  flex: 0 0 100%;
}

.main .content .main .sidebarWrapper .sidebar ul li button.active .icon svg {
  color: #0858f7 !important;
}

.main .sidebarWrapper .sidebar {
  width: 20%;
  height: 100vh;
  position: fixed;
  top: 70px;
  left: 0px;
  background: #fff;
  max-height: calc(100% -70px);
  overflow-y: scroll;
  overflow-x: hidden;
  padding-bottom: 40px;
  transition: all 0.3s ease-in-out;
}

.main .sidebarWrapper .sidebar::-webkit-scrollbar-thumb {
  background: transparent !important;
}

.main .sidebarWrapper:hover .sidebar::-webkit-scrollbar {
  background: #0858f7 !important;
}

.full {
  max-width: 100% !important;
  flex: 0 0 100% !important;
  width: 100% !important;
}