.card h5 {
  color: black !important;
  font-size: 15px !important;
  text-align: center;
  font-weight: 500 !important;
}

.right-contents {
  width: 298% !important;
}

.right-contents {
  padding: 70px 28px;
}
